* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

h1 {
    width: 300px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background-color: darkred;
    color: beige;
    font-weight: 900;
    margin: 50px auto;
    
}

ul {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

li {
    display: inline-block;
    width: 250px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    margin: 10px;
    background-color: darkgray;
}

li a {
    color: snow;
    font-weight: 900;
    font-size: 15px;
}
